.fondo{
    background-color: #285AA4;
}
.fondo-body{
    background-color: #4a77b9;
}
.fondoImagen{
    background-image: url("./../../../assets/img/fondoEmpresa.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
}
.opacidad{
    opacity: 95%;
}

div button{
    background-color: #FFFFFF;
    color: black;
}
div button:hover{
    background-color: rgb(32, 32, 95);
    color:white;
}
div button:disabled{
    cursor: not-allowed;
}
.alertColor{
    background-color: #B22323;
}
